body{   

		background: url();
    }

div{
     background-color: silver;margin-top: 10px;
   }

 
 table{width:800px;font-size: 20px;margin-top: 20px;display:}  

 .title{background-color:purple;border-radius: 20px;text-shadow: 4px 3px black;color: white;}
 

 td{background-color: gray;border-radius: 5px;}

 .img{border-radius: 20px;}
 
 p{
 	 font-size:20px;background-color: gray;
   }  
 

 h3{width: 200px;height:40px;background-color: purple;text-align: center;line-height: 40px;color: white; border-radius: 6px;}

 #self{width: 800px;height:400px;display: block;margin:0 auto;border: 2px solid white;font-family: }

 .all{background-color: purple;color:white;}